:root {
    --background-header: #1b1123;
    --background: #fff;
    --background-origin: #000;
    --border-background-color: aqua;
    --color: #fff;
    --font-family: Khmer OS;
    --box-shadow: 
        0 0 5px aqua,
        0 0 10px aqua,
        0 0 20px aqua
    ;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

body {
    width: 100%;
    background: var(--background-origin);
}

/* index.html */

/* Header Page */

.header-index {
    background-color: var(--background-header);
    text-shadow: 
        0 0 5px var(--background-button-hover),
        0 0 10px var(--background-button-hover),
        0 0 20px var(--background-button-hover)
    ;
}

/* Title */

.title {
    margin-left: 10px;
    color: var(--color);
    font-family: var(--font-family);
    font-weight: bold;
}

/* Menu */

.list-1 {
    list-style: none;
    padding: 0 10px;
}
header a{text-decoration: none;}

.span-list {
    color: var(--color); 
    font-family: var(--font-family);
    padding: 5px 10px;
    background-color: var(--background-header);
    border-radius: 4px;
    transition: 0.5s;
    cursor: pointer;
}

/* Main Page */


.p-text {
    color: var(--color);
    font-family: var(--font-family);
    font-size: 2rem;
    text-align: center;
    margin: 30px;
    animation: typing 5s steps(60, end) forwards, blink 0.7s step-end infinite;
}
.button-nextpage {
    border: 1px solid var(--border-background-color);
    outline: none;
    padding: 5px 10px;
    font-size: 1.1rem;
    font-family: var(--font-family);
    border-radius: 4px;
    margin-left: 100px;
    margin: 40px;
    cursor: pointer;
    background-color: var(--background-origin);
    color: #fff;
    text-shadow: 
    0 0 5px var(--background-button-hover),
    0 0 10px var(--background-button-hover),
    0 0 20px var(--background-button-hover)
    ;
    transition: 0.3s;
}
.box-articles {
    width: 50%;
    height: 100%;
}
.image-user {
    width: 35%;
    height: 100%;
    border-radius: 50%;
}
.image-user img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 
    0 0 5px var(--background-button-hover),
    0 0 10px var(--background-button-hover),
    0 0 30px var(--background-button-hover)
    ;
}

/* Footer Page */

.footer-index {background-color: var(--background-header);}
.footer-index p {font-family: var(--font-family);}

/* ------------------------------------------------------------------------------------------------------------------------------------- */
/* about.html */

/* Main */

.menu-left {
    width: 300px;
    height: 700px;
    border-right: 1px solid #000;
}
.link-style-main {
    text-decoration: none;
}
.span-text {
    color: #000;
    font-size: 1rem;
    text-align: left;
    margin: 10px;
}
.title-article {
    padding: 5px 10px;
    background-color: #777;
    font-family: moul;
    font-size: 1.3rem;
    font-weight: 100;
}
.text_span {
    color: #000;
    font-size: 1rem;
    margin: 30px;
    text-align: left;
}
.box-click-button {
    border: 1px solid var(--border-background-color);
    box-shadow: 0 0 10px aqua;
    border-radius: 10px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.more {
    padding: 10px;
    background: red;
    color: #fff;
    border-radius: 4px;
    margin-right: 10px;
    transition: 0.5s;
    cursor: pointer;
}
.box-contact {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    border: 1px solid var(--border-background-color);
    background-color: #1b1123;
    box-shadow: var(--box-shadow);
    display: none;
}
.fa-xmark {
    color: #fff;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 1.5rem;
    cursor: pointer;
}
.box-contact p {
    color: #fff;
    font-family: Khmer OS;
    margin: 20px;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

/* Footer */

.box {
    width: 30%;
}
.footer-h1 {
    color: var(--color);
    font-family: moul;
    font-weight: 100;
    font-size: 1.3rem;
    margin: 10px;
}
.p-footer-about {
    font-size: 1rem;
    text-align: left; 
    margin: 10px;
}