:root {
    --background-button-hover: aqua;
    --color-hover: #000; 
}

/* File Name Animation [` index.html `] */
/* Header Page */

.button:hover {
    transform: scale(1.2);
    box-shadow: 
    0 0 5px var(--background-button-hover),
    0 0 20px var(--background-button-hover)
    ;
    background-color: var(--background-button-hover);
    color: var(--color-hover);
    transition: 0.3s;
}
.span-list:hover {
    background-color: var(--background-button-hover);
    color: var(--color-hover);
    box-shadow: 
        0 0 5px var(--background-button-hover),
        0 0 10px var(--background-button-hover),
        0 0 20px var(--background-button-hover)
    ;
    transition: 0.5s;
}
    
/* File Name Animation [` about.html `] */
/* Main */

.more:hover {
    box-shadow: 
        0 0 5px red,
        0 0 10px red,
        0 0 20px red
    ;
}


/* All */

/* Slide up + fade in */
.animate-onload {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.animate-onload.active {
  opacity: 1;
  transform: translateY(0);
}

.animate-onload.delay-1 { transition-delay: 0.2s; }
.animate-onload.delay-2 { transition-delay: 0.4s; }
.animate-onload.delay-3 { transition-delay: 0.6s; }

/* Animation */

/* Type */

/* Affic */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #111;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #fff;
  border-top: 5px solid #00ffe1;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 20px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#preloader.slide-up {
  transform: translateY(-1000%);
  opacity: 0;
}

